.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.top-bar {
  display: flex;
  flex-direction: row;
  min-height: 20%;
  width: 100%;
}
.top-Icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  padding-left: 2%;
  background-color: #101d21;
  min-height: 20%;
  width: 30%;
}
.home-Icon {
  cursor: pointer;
  background-color: transparent;
  
  border-color: transparent;
}

.top-middle {
  display: flex;
  flex-direction: row;
  background-color: #32add9;
  align-items: center;
  justify-items: center;
  text-align: center;
  font-size: 2.5vh;
  padding-left: 20%;
  min-height: 20%;
  width: 40%;
}

.top-right {
  display: flex;
  flex-direction: row;
  background-color: #28501a;
  align-items:  baseline;
  min-height: 20%;
  width: 30%;
}
.top-buttons {
  cursor: pointer;
  
  border-color: transparent;
}
