.contact-Body{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    height: 100vh;
    width: 100%;
}
.contact-Container{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    height: 75%;
    width: 100%;
}