.main-Body{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    height: 200vh;
    width: 100%;
}
.quick-Body {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    height: 45%;
    width: 100%;
}
.quick-Container {
    margin-top: 23vh;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: baseline;
    border-radius: 8px;
    transition: 0.3s;
    height: 50vh;
    width: 90%;
    background-color: rgba(43, 156, 226, 0.416);
}
.quick-Title {
    width: 70%;
    min-height: 15%;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-width: 0.5vh;

    transition: 0.3s;
    font-size: 5vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.quick-Para {
    min-height: 40%;
    width: 70%;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-width: 0.5vh;
    border-bottom-color: azure;
    align-items: baseline;
    justify-content: center;
}
.para-Sentence {
    font-size: 3vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.quick-Buttons {
    min-height: 20%;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
}
.quick-Container:hover {
    width: 94%;
}
.quick-Container:hover .quick-Title{
    font-size: 5.5vh;
}
.book-Button{
    background-color: white;
    border-color: transparent;
    
    width: 25%;
    height: 70%;
    font-size: 1em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    color: #152f39;
    cursor: pointer;
    opacity: 1;
    transition: 0.3s;
}
.book-Button:hover{
    background-color:#152f39;
    border-color: #152f39;
    color:white;

    width: 40%;
    height: 75%;
    font-size: 1.2em;
}
.quick-Container:hover .book-Button{
    width: 34%;
}
.upload-Button {
    background-color: white;
    border-color: transparent;
    
    width: 25%;
    height: 70%;
    font-size: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    border-radius: 10px;
    color: #152f39;
    cursor: pointer;
    opacity: 1;
    transition: 0.3s;
}
.upload-Button:hover{
    background-color:#152f39;
    border-color: #152f39;
    color:white;
    width: 40%;
    height: 75%;
    font-size: 1.2em;
}
.quick-Container:hover .upload-Button{
    width: 34%;
}
.social-Body {
    background-color: #152f39;
    border-color: white;
    border-style: solid;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0.5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 5%;
    width: 100%;
}
.social-Left{
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
.social-Main{
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.social-Icon{
    height: 3vmin;
    transition: 0.3s;
}
.social-Button{
    height: 90%;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
}
.social-Button:hover .social-Icon{
    height: 6vmin;
}
.fill-Body {
    background-color:thistle;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    height: 50%;
    width: 100%;
}
.fill-Title {
    font-size: 5vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.fill-Align {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 80%;
    width: 90%;
}
.fill-Left {
    background-color:transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 30%;
}
.font-Left {
    font-size: 5vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-wrap: break-word;
}
.fill-Right {
    background-color:rgba(222, 116, 30, 0.26);
    border-color: #152f39;
    border-width: 0.5vh;
    border-radius: 15px;
    border-style: double;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    height: 100%;
    width: 35%;
}
.form-Title {
    font-size: 5vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.font-Type {
    font-size: 2vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.align-Text{
    line-height: 0.1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 15%;
    padding-bottom: 30px;
}
.text-Field{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 12px;
    border-radius: 10px;
    height: 15%;
    width: 95%;
    border-color: transparent;
}
.text-Field:hover {
    border-color: black;
}
.align-Message {
    line-height: 0.1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    width: 90%;
    height: 35%;
}
.message-Box {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 12px;
    border-radius: 10px;
    height: 40%;
    width: 95%;
    resize: none;
    border-color: transparent;
}
.message-Box:hover{
    border-color: black;
}
.fill-Button{
    background-color: white;
    border-color: transparent;
    
    width: 20%;
    height: 8%;
    font-size: 0.65em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    border-radius: 10px;
    color: #152f39;
    cursor: pointer;
    opacity: 1;
    transition: 0.3s;
}
.fill-Button:hover{
    background-color:rgb(215, 137, 101);
    border-color: rgb(215, 137, 101);
    color:white;
    font-size: 0.75em;
}
.bottom-Body {
    background-color:#152f39;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 100%;
}
.bottom-Logo {
    background-color:transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;

    height: 20%;
    width: 90%;
}
.bottom-Align {
    background-color:transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 70%;
    width: 90%;

    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-width: 0.5vh;
}
.bottom-Left{
    background-color:transparent;
    height: 90%;
    width: 70%;
}
.bottom-Separator {
    border-style: solid;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-left-width: 0.1vh;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: baseline;
    height: 90%;
    width: 5%;
}
.bottom-Middle{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: baseline;
    height: 90%;
    width: 15%;
}
.bottom-Right{
    background-color: transparent;

    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: baseline;
    height: 90%;
    width: 10%;
}
.bottom-Header {
    font-size: 1.8vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: honeydew;
    text-decoration-line: underline;
}